@page "/"

<h1>Hello, I'm Adrian - known as DataScienceAdrian 👋</h1>

<h4>Welcome to my sandbox Blazor ASP.NET site.</h4>

<h4>I am testing here new solutions and code practices connected with .NET and web technology.</h4>

